@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: #25360028;
	height: 100%;
}

/* ____________HEADER__________ */
.header h2 {
	vertical-align: center;
	text-align: center;
}

.header img {
	margin-left: 30px;
	max-width: 50px;
}

#scrollToTopButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 72px;
	height: 51px;
	border-radius: 50%;
	background-color: #2c4800;
	color: #fff;
	font-size: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 1;
}
#scrollToTopButton:hover {
	background-color: #310000;
}
.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* background-color: #00BAF0; */
	background: linear-gradient(to left, #4db300cf, #fdaf00a6);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	height: 80px;
	padding: 1em;
}

.navigation {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.navigation a:hover {
	color: #700000;
}
a.navigation__link_1:before {
	content: "";
	display: block;
	height: 1px; /* Высота линии */
	background: #4e0d00; /* Цвет линии */
	width: 43px; /* Ширина линии до наведения */
	margin: 0 auto 10px; /* Отступ с боков по центру и снизу */
	transition: 1s; /* Время, за которое линия возвращается после наведения */
}
a.navigation__link_1:hover:before {
	width: 100px; /* Ширина линии при наведении */
	transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

/*  CSS код для линии под заголовком */
a.navigation__link_1:after {
	content: "";
	display: block;
	height: 1px; /* Высота линии */
	background: #4e0d00; /* Цвет линии */
	width: 43px; /* Ширина линии до наведения */
	margin: 10px auto 0; /* Отступ с боков по центру и сверху */
	transition: 1s; /* Время, за которое линия возвращается после наведения */
}
a.navigation__link_1:hover:after {
	width: 100px; /* Ширина линии при наведении */
	transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

.navigation__link_1 {
	font-size: 18px;
	font-weight: 550;
	color: #4e0d00;
	padding: 0 7% 0 7%;
	text-align: center; /* Текст по центру */
}

/* ____________FOOTER__________ */

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to left, #4db300cf, #fdaf00a6);
}

.footer_info {
	display: flex;
	justify-content: space-around;
	padding: 1.2%;
	margin: 10px 0 0 0;
}

.footer_info_about_us,
.footer_info_where_to_find_us,
.footer_info_I_want-to_become_a_nanny {
	font-size: 18px;
	font-weight: 500;
	color: #4e0d00;
}
footer a {
	color: #700000;
}
footer a:hover {
	text-decoration: none;
	color: #960000;
}
footer img {
	max-width: 35px;
	opacity: 0.7;
	padding-left: 5px;
}

:root {
	--sizeCreaBlock: 270px;
	--bgCreaBlock: #1e1f25;
	--blockTranslateX: 190px;
	--blockRotateY: 40deg;
	--marginSize: 36px;
	--shadowColor: 15px 5px 20px -7px rgb(0 0 0 / 30%);
	--blocImgSize: 200px;

	--arc-blue: rgba(53, 113, 158, 1);
	--arc-vert: #4caf50;
	--arc-jaune: #ffeb3b;
	--arc-rose: #e91e63;
	--arc-orange: #f76334;
}

.blocImg {
	width: 100%;
	height: var(--blocImgSize);
	position: relative;
	z-index: 9999;
	padding: 10px;
}

.blocImg > img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.blocImg > img::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3a3e4c;
}

.creaBlock {
	width: var(--sizeCreaBlock);
	background-color: #2f5e00;
	padding: 50px 20px 20px 20px;
	border-radius: 7px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	transition: all 0.3s;

	-webkit-box-shadow: var(--shadowColor);
	-moz-box-shadow: var(--shadowColor);
	box-shadow: var(--shadowColor);
	cursor: pointer;
}

.creaBlock:not(.creaBlockPrez):hover {
	transform: scale(1);
}

.creaBlock::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 10%;
	width: calc(var(--sizeCreaBlock) * 2);
	height: calc(var(--sizeCreaBlock) * 2);
	background-color: #e9b534;
	transform: rotateZ(70deg);
	z-index: -1;
}

.creaBlock > figcaption {
	position: absolute;
	left: 0;
	top: 0;
	right: 20%;
	font-weight: bold;
	color: white;
	padding: 25px;
	font-size: 0.9rem;
	opacity: 0.8;
	text-align: left;
}

.creaBlock h2 {
	font-size: 20px;
	width: 70%;
	color: white;
	font-weight: bold;
	height: 54px;
	display: block;
	text-align: left;
	overflow: hidden;
	background-color: transparent;
	transition: var(--background-color) 0.6s;
}

.creaBlock img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/* FIN CREA BLOCK */

.creaBlock {
	transform: scale(0.9);
}

.creaBlock .lineSeparator {
	background-color: #00bcd4;
}

/* BOX 1 */

.creaBlockPrez:nth-child(1) {
	z-index: 1;
	transform: scale(0.9);
}

.creaBlockPrez:nth-child(1):hover {
	transform: scale(1.1);
}

.creaBlockPrez:nth-child(1):hover ~ .creaBlockPrez:nth-child(2) {
	transform: scale(0.83) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

.creaBlockPrez:nth-child(1):hover ~ .creaBlockPrez:nth-child(3) {
	transform: scale(0.88) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

.creaBlockPrez:nth-child(1):hover ~ .creaBlockPrez:nth-child(4) {
	transform: scale(0.93) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

.creaBlockPrez:nth-child(1):hover ~ .creaBlockPrez:nth-child(5) {
	transform: scale(0.98) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

/* BOX 2 */

.creaBlockPrez:nth-child(2) {
	z-index: 2;
	margin-left: calc(-6 * var(--marginSize));
	transform: scale(0.94);
	animation: displayCreations 0.5s linear 0.4s forwards;
}

.creaBlockPrez:nth-child(2):hover {
	transform: scale(1.1);
}

.creaBlockPrez:nth-child(2):hover ~ .creaBlockPrez:nth-child(3) {
	transform: scale(0.88) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

.creaBlockPrez:nth-child(2):hover ~ .creaBlockPrez:nth-child(4) {
	transform: scale(0.93) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

.creaBlockPrez:nth-child(2):hover ~ .creaBlockPrez:nth-child(5) {
	transform: scale(0.98) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

/* BOX 3 */

.creaBlockPrez:nth-child(3) {
	z-index: 3;
	margin-left: calc(-6 * var(--marginSize));
	transform: scale(0.98);
}

.creaBlockPrez:nth-child(3):hover {
	transform: scale(1.1);
}

.creaBlockPrez:nth-child(3):hover ~ .creaBlockPrez:nth-child(4) {
	transform: scale(0.93) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

.creaBlockPrez:nth-child(3):hover ~ .creaBlockPrez:nth-child(5) {
	transform: scale(0.98) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

/* BOX 4 */

.creaBlockPrez:nth-child(4) {
	z-index: 4;
	margin-left: calc(-6 * var(--marginSize));
	transform: scale(1.02);
}

.creaBlockPrez:nth-child(4):hover {
	transform: scale(1.1);
}

.creaBlockPrez:nth-child(4):hover ~ .creaBlockPrez:nth-child(5) {
	transform: scale(0.98) translateX(var(--blockTranslateX))
		rotateY(var(--blockRotateY));
}

/* BOX 5 */

.creaBlockPrez:nth-child(5) {
	z-index: 5;
	margin-left: calc(-6 * var(--marginSize));
	transform: scale(1.06);
}

.creaBlockPrez:nth-child(5):hover {
	transform: scale(1.1);
}

/* SEPARATORS */

.lineSeparator {
	width: 100%;
	background-color: var(--main-box-border-color);
	height: 4px;
	border-radius: 5px;
	margin: 40px 0 25px 0;
	opacity: 0.4;
}

.creaBlockPrez:nth-child(1) .lineSeparator {
	background-color: var(--arc-jaune);
}

.creaBlockPrez:nth-child(2) .lineSeparator {
	background-color: var(--arc-jaune);
}

.creaBlockPrez:nth-child(3) .lineSeparator {
	background-color: var(--arc-jaune);
}

.creaBlockPrez:nth-child(4) .lineSeparator {
	background-color: var(--arc-jaune);
}

.creaBlockPrez:nth-child(5) .lineSeparator {
	background-color: var(--arc-jaune);
}

/* –––––––––––––––––––– */

.creationsBlocUl {
	white-space: nowrap;
	text-align: center;
	min-height: 450px;
	overflow: hidden;
	padding: 68px 0;
}

@media only screen and (max-width: 600px) {
	.creaBlock {
		margin-left: 0 !important;
		margin: 60px 20px;
		z-index: -1 !important;
	}

	.creaBlockPrez {
		transform: scale(0.9) !important;
	}

	.creationsBlocUl {
		white-space: nowrap;
		overflow-x: auto;
		padding: 0;
		min-height: 420px;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.creationsBlocUl::-webkit-scrollbar {
		display: none;
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

main > div {
	width: 100%;
}

#toggleFullScreen {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 20px;
	background-color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.3s;
}

#toggleFullScreen:hover {
	transform: scale(0.9);
}
